[2016-09-24 22:08] smillingDeath opened #2 "Voting"
Hi,
is it possible that Up and Downvoting is currently not working?
The API seems to be unable to locate the Post:
(200, {'post': None, 'vote_count': 0})
When I´m getting the details of the jodel specified everything seems to be working

[2016-09-25 11:51] nborrmann commented on #2
Yep, I see this behaviour for new accounts. Voting is still working on all my old ones though. So maybe new accounts are only able to vote after a certain time.

Btw:

This is the usual answer, if you've already voted on a post, or if the post doesn't exist anymore.

[2016-09-25 11:54] smillingDeath commented on #2
Good to know, thanks man ;)

Might be possible that they created a minimum amount of karma and/or a time limit.
One of my accounts created yesterday got about 2500 karma and is working pretty good.

[2016-09-28 20:52] #2 closed

[2016-10-25 23:09] LauertBernd opened #3 "Dont working anymore"
Update your keys to the latest Version.

Also if someone is reading this and needs a working API, try with:
https://github.com/LauertBernd/JodelClientPHP

[2016-10-26 16:12] nborrmann commented on #3
4e7c94ae4b9b5f5129fda060d04dbb231eb46367

[2016-10-26 16:12] #3 closed

[2016-11-03 22:11] smillingDeath opened #4 "New Secret"
Hi,
it´s seems like they started to force the use of the 4.24.4 secret right now.
Would you mind updating it?
BTW: How do you obtain the secret? I tried to generate it from the App but failed...
Greetings

[2016-11-05 11:16] nborrmann commented on #4
Thanks for the PR.

I originally obtained the secret myself by reverse engineering the android app. But recently I've only copied from [these guys](https://bitbucket.org/cfib90/ojoc).

[2016-11-05 11:16] #4 closed

[2016-11-17 10:16] asd9 opened #7 "New Secret for HMAC encryption"
Nice work!
What happens if the secret for the HMAC encryption is outdated?
As I know there is in every new app version, a new secret used.
Since yesterday is a new version of the app available. How can I get the new secret that the app still works?

[2016-11-22 12:03] #7 closed

[2017-02-22 12:36] stackola opened #8 "j.create_post() not working"
After creating an account and updating the location, the call to j.create_post does not work, and just returns (478,478)

Any idea why this could be?

[2017-02-22 14:34] nborrmann commented on #8
The account needs to be verified by solving a captcha challenge. I implemented this in the latest commit b079b58bad7eb57d9c0ea2933f113d302dab3aa1.

[2017-02-22 14:34] #8 closed

[2017-02-22 14:35] stackola commented on #8
Yes, I found that out after looking at OJOC @ bitbucket
Thanks for the fast fix

[2017-03-03 14:43] n0wastaken opened #9 "Can't upvote"
While using a verified account, I can't upvote or downvote anything.
Everything else works.

[code]

The first Jodel is one from their team saying that the client is outdated, maybe it's a restriction coming from this.
I tried posting and getting a little bit of karma, to see if it was a security concern, but it seems not.

[2017-03-03 17:07] nborrmann commented on #9
Yeah, I know this doesn't work right now.

Code `477` means invalid account signing, so maybe they have changed their request signing procedure for vote requests to prevent shenanigans.

You could have a look at this [project](https://bitbucket.org/cfib90/ojoc) and see if voting works there. If it does, I made a mistake and will fix it.

[2017-03-04 02:27] n0wastaken commented on #9
Hey,
Just tested it with nojoc.py, and it seems to work fine!

[2017-03-04 11:59] nborrmann commented on #9
Alright fixed it in 57502a41ae1e011498aef210eeb289f200df98e0.

Turns out this was broken for a long time, but they didn't enforce request signing for everything, only creating accounts and posts, which happend to work correctly.

[2017-03-04 11:59] #9 closed

[2017-04-10 15:34] wetterfroschdus opened #11 "477 "Signed Request Expected""
"Please open an issue"

[2017-04-10 15:54] nborrmann commented on #11
fixed.

[2017-04-10 15:54] #11 closed

[2017-04-10 16:06] wetterfroschdus commented on #11
mhm, still getting 477, uninstalled my version from pip and cloned from github, same result.

[2017-04-10 16:11] nborrmann commented on #11
Tests are passing though.

But you're right, I didn't bump the version, so it wasn't published to PyPi. I did that now, travis will deploy after running the tests.

On which requests do you get the error? Make sure you are on version 1.1.1. (Run `pip freeze` to get the version).

[2017-04-10 16:18] wetterfroschdus commented on #11
Ok, yeah, everything works now.
i had the old version installed for python 3.
and i was using python 3.

[2017-04-11 16:28] ioncodes opened #12 "Proxies not working"
If I use proxies, it doesn't work. I tried setting the kwargs directly and by filling all args until I can set it.
I set proxies={'http':'proxy:port'}. It doesn't even try to connect to my proxy, and I'm 100% sure that the proxy works.

[2017-04-11 16:41] nborrmann commented on #12
Try setting a 'https' proxy.

Anyway, this is most certainly a problem with the `requests` library (read up on their docs), so I'm closing this.

[2017-04-11 16:41] #12 closed

[2017-04-16 18:11] michaelkole opened #15 "Issue"
Traceback (most recent call last):
  File "<pyshell#2>", line 1, in <module>
    j = jodel_api.JodelAccount(lat=lat, lng=lng, city=city)
  File "C:\Python\lib\site-packages\jodel_api.py", line 49, in __init__
    r = self.refresh_all_tokens(**kwargs)
  File "C:\Python\lib\site-packages\jodel_api.py", line 117, in refresh_all_tokens
    raise Exception(resp)
Exception: (477, 'Signed request expecte

[2017-04-16 18:15] nborrmann commented on #15
What version are you on? Make sure to update.

[2017-04-17 13:35] michaelkole commented on #15
Hello,

first of all thank you for the API.
I cannot create an account via your program. As soon as I try to create an
account the error 477 appears.
With following saying:
Creating new account.
Traceback (most recent call last):
  File "C:\Python\Jodel\Progs\Automatisierungs_Prog\create_acc.py", line 8,
in <module>
    j = jodel_api.JodelAccount(lat=lat, lng=lng, city=city)
  File "C:\Python\lib\

[2017-04-17 15:19] michaelkole commented on #15
version = '4.41.0'

2017-04-17 16:28 GMT+02:00 nbo <notifications@github.com>:

[2017-04-17 15:20] nborrmann commented on #15
4.41 should be working.

Please run `pip show jodel_api` and paste the output here.

[2017-04-17 15:46] michaelkole commented on #15
Name: jodel-api
Version: 1.1.0
Summary: Unoffical Python Interface to the Jodel API Edit
Home-page: https://github.com/nborrmann/jodel_api
Author: Nils Borrmann
Author-email: n.borrmann@googlemail.com
License: MIT
Location: c:\python\lib\site-packages
Requires: mock, requests, future

Oh I see now that I did not update it. I am very sorry

2017-04-17 17:20 GMT+02:00 nbo <notifications@github.com>:

[2017-04-17 17:20] #15 closed

[2017-04-26 08:08] vaahtokarkki opened #16 "Reply"
Is it possible to reply on a post with jodel api?

[2017-04-26 08:34] nborrmann commented on #16
Yes, use the ancestor parameter of create_post.

On 26 Apr 2017 10:08 AM, "Roni Lindholm" <notifications@github.com> wrote:

[2017-04-26 08:34] #16 closed

[2017-05-06 18:04] bzl opened #20 "Crashes"
I have a very simple script. It makes an unverified account, sleeps 5 minutes, then does a
`get_posts_recent(skip=0, limit=60, after="", mine=False, hashtag="", channel="")`

Pretty much taken straight out of the documentation/samples. PS I also tried the version without brackets, get_post_recent() (got the idea from your test file, its in one of the first tests).

However, a random number of cycl

[2017-05-06 18:07] bzl commented on #20
Here is pip -freeze:
`cffi==1.5.0
cryptography==1.2.1
Django==1.9.5
enum34==1.1.2
funcsigs==1.0.2
future==0.16.0
idna==2.0
image==1.5.3
ipaddress==1.0.16
jodel-api==1.1.3
mock==2.0.0
ndg-httpsclient==0.4.0
oauthlib==2.0.2
pbr==3.0.0
Pillow==3.2.0
pyasn1==0.1.9
PyAutoGUI==0.9.33
pycparser==2.14
pydel==1.0.0
PyMsgBox==1.0.3
pyOpenSSL==0.15.1
PyScreeze==0.1.8
python-dateutil==2.4.2
PyTweening==1.0.3

[2017-05-06 23:09] bzl commented on #20
I dont know if it helps, but here is your test suit ran:

`===Flaky Test Report===

test_reinitalize passed 1 out of the required 1 times. Success!
test_refresh_access_token passed 1 out of the required 1 times. Success!
test_set_location passed 1 out of the required 1 times. Success!
test_read_posts_recent passed 1 out of the required 1 times. Success!
test_get_my_posts passed 1 out of the requir

[2017-05-07 08:57] nborrmann commented on #20
That error means that you're receiving a malformed response or the server prematurely terminated the connection (cf [1], [2]).

It's weird that you are getting the error so often, I can't remember ever seeing this. It might be due to your specific combination of your OS, python version, ssl lib, even your ISP. Try different machines/connections and see if you're still getting the error.

If nothin

[2017-05-07 08:57] #20 closed

[2017-05-07 09:04] nborrmann commented on #20
Are you maybe behind a proxy that might close the connection?

[2017-05-07 18:02] bzl commented on #20
Thanks for getting back to me so quick during a weekend.

I ran into same issues in 2.7 and 3.5. I am not behind a proxy, but i haven't tested the code on another connection, so it might come down to the connection.

I sat this up as a text-to-speech bot about 4 months ago, and didn't recall running into any issues back then, so I assumed the API handled these network issues.

Wrapping everything

[2017-05-09 14:21] nborrmann opened #22 "Unimplemented methods"
The following methods are availabe through the Jodel API but not implemented for various reasons. Leave a comment if you want some of them in `jodel_api` (they're untested but should be mostly production ready, so you can just copy them in if you want).

Moderation:
[code]
I'd like to implement them, but I don't have a moderation-enabled account, so I can't test them. If you'd be willing to hand m

[2017-05-11 08:37] leon1995 opened #23 "Error 477"
Hi,
I´ve downloaded the newest version and still got the Error 477 while creating an account.
I added the test result. maybe it will help you to solve my problem :)

Thx!
Leon
[testresult.txt](https://github.com/nborrmann/jodel_api/files/992349/testresult.txt)

[2017-05-11 08:40] nborrmann commented on #23
Please post the output of `pip freeze`.

[2017-05-11 08:49] leon1995 commented on #23
Thx for your incredible fast reply!
Here pip freeze output:

adium-theme-ubuntu==0.3.4
argcomplete==0.8.1
argh==0.26.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
blinker==1.3
certifi==2015.11.20.1
chardet==2.3.0
click==6.2
colorama==0.3.7
ConfigArgParse==0.10.0
construct==2.5.2
cryptography==1.2.3
enum34==1.1.2
feedparser==5.1.3
funcsigs==1.0.2
future==0.16.0
hpack==2.1.0
html2tex

[2017-05-11 08:54] nborrmann commented on #23
Please also give me the output of

[code]

[2017-05-11 09:39] leon1995 commented on #23
`1 pip 8.1.1 from /usr/lib/python2.7/dist-packages (python2.7)`
`Python 2.7.12`
`XjwIzRfxCXsVLRkutOHyiexqDnDutUCnTrECnvpw`

[2017-05-11 12:07] nborrmann commented on #23
That is weird. The correct secret is `XjwOzRfxCXsVLRkutOHyiexqDnDutUCnTrECnvpw` (`O` instead of `I` in the 4th column), the rest is the same.

I just checked, both github and pypi have the correct secret. Did you install jodel_api manually using `git clone`? Any chance you accidentally flipped that letter?

[2017-05-11 14:44] nborrmann commented on #22
Here's two new endpoints from version 4.44.1:

[code]

Apparently there will be two feeds, and international and a national one.

[2017-05-11 15:00] leon1995 commented on #23
I checked it twice. It wasnt a typo.
I installed it with github.

![output](https://cloud.githubusercontent.com/assets/15685899/25956138/391eb54a-366b-11e7-8ddd-15fd9949b838.PNG)

i will install it again with github and try again

[2017-05-11 15:33] nborrmann commented on #23
The only thing I can still imagine is that your script somehow links against a different version of `jodel_api` than the one installed by pip. Maybe you have an old `jodel_api.py` in the same directory as your script. Maybe try adding the statement `print(jodel_api.JodelAccount.secret)` into your actual script.

[2017-05-11 16:11] leon1995 commented on #23
I´ve deleted and installed it new. Used `pip uninstall jodel_api`. Also did a new `git clone`. Didnt helped. Then
`sudo apt-get remove python-pip`
`sudo apt-get install python-pip`
`pip install jodel_api`
worked. I could successfully create a account (did not try more).

I also tried with the bash on windows 10 and got this error
![winbasherror](https://cloud.githubusercontent.com/assets/15685899/

[2017-05-11 16:14] nborrmann commented on #23
Yeah, looks like it was some version/environment mess up.

[2017-05-11 16:59] leon1995 commented on #23
When I try to create a post with `j.create_post(message='Hello World', imgpath=None, b64img=None, color=None, ancestor=None, channel="")` after verifying and stuff, I get this
`Expectation: One of message or imgpath must be null`
Ofcause it has to be a none-empty post, but I´ve set a message, or not?

[2017-05-11 17:06] nborrmann commented on #23
Yeah that should work. Can't reproduce this issue either. Maybe a typo? The other issue is resolved now I guess? Then I will close the issue for now.

Btw, you don't need to add the parameters that are `None`. Just `j.create_post("Hello World")` will do.

[2017-05-11 17:06] #23 closed

[2017-05-19 18:43] moritzgloeckl opened #25 "Feature Request: Post images from URL"

[2017-05-20 13:24] nborrmann commented on #25
I don't wanna add that to the lib, but it's pretty straightforward to do that yourself. Should be something like this (untested):

[code]

[2017-05-20 13:24] #25 closed

[2017-05-24 13:39] leon1995 opened #26 "401, Unauthorized"
when I try to make an API call, I get
`401, 'Unauthorized`

Last API call was about 3 hours ago

EDIT: i tried it from different accounts. did not help. seems like, 401 is an ip ban? but I didnt even posted much. do you know why?

EDIT: tried the same account on different device. same error :/

EDIT: different account on the same divice got no error. seems like the account got banned

[2017-05-24 15:03] nborrmann commented on #26
I think 401 means outdated `access_token`, you need to refresh it, as written in the readme. I'll add the status code to the readme as well.

[2017-05-24 15:03] #26 closed

[2017-05-30 10:15] gaurav-stepin commented on #23
Hello,
I am having same issue since yesterday. The setup was working fine and then it stopped without any change made on server or in package. I tried all steps mentioned above in the trail but nothing worked. Should I provide output of pip -V etc?

P.S :- I downloaded fresh latest package and setup, but same issue.

Many Thanks,
Gaurav

[2017-05-30 14:53] nborrmann commented on #23
Please post the output of the following commands:

[code]

[2017-05-30 20:25] kontez opened #27 "477: signed request expected"
## Issue
When running ` j = jodel_api.JodelAccount(lat=lat, lng=lng, city=city)` I get  an exception which says `Exception: (477, "signed request expected")`
As suggested in the README.md, I have the latest jodel_api available since I just cloned it
...

## Environment

If you're reporting a bug, please attach the output of the following commands:

[code]

[2017-05-31 05:47] gaurav-stepin commented on #23
Hi nborrmann,
Thanks for prompt response.
Here are respective commands I fired with the output.

Name: jodel-api
Version: 1.1.5
Summary: Unoffical Python Interface to the Jodel API
Home-page: https://github.com/nborrmann/jodel_api
Author: Nils Borrmann
Author-email: n.borrmann@googlemail.com
License: MIT
Location: /usr/local/lib/python2.7/dist-packages/jodel_api-1.1.5-py2.7.egg
Requires: requests,

[2017-05-31 10:40] nborrmann commented on #27
Fixed in  54e46ef.

[2017-05-31 10:40] #27 closed

[2017-05-31 10:42] nborrmann commented on #23
Fixed in 54e46ef.

[2017-05-31 10:53] kontez commented on #27
thanks for that, how is the key updated?
So I can do it by myself when this one expires

[2017-05-31 11:52] nborrmann commented on #27
I'm using this project. But it's pretty complicated to get running:

https://bitbucket.org/cfib90/ojoc-keyhack

[2017-05-31 13:07] kontez commented on #27
okay thanks!

[2017-06-01 10:00] gaurav-stepin commented on #23
That was a wonderfull help mate.Thanks alot.

[2017-06-05 15:02] gaurav-stepin opened #29 "Json parser error"
Hello There,
I am trying to use get_post_details api but not sure what format it reutrns data with. I assumed it is json. But JSON parser returns error saying it is not a valid json. Here is the sample of output I am getting.
(200, {u'distance': ###, u'post_own': u'friend', u'user_handle': u'oj', u'discovered_by': 0, u'color': u'FFBA00', u'created_at': u'######', u'notifications_enabled': False, u

[2017-06-05 15:25] nborrmann commented on #29
All functions return a python ``dict`` that was parsed from the json response. You don't need to parse it anymore.

As for the ``u''`` strings, that's a unicode string (you're using python2 right?), you can convert it into a normal string by doing ``u'xxx'.encode("utf-8")``.

[2017-06-05 15:25] #29 closed

[2017-06-06 07:12] gaurav-stepin commented on #29
Hello nborrmann,
Many thanks. Clear to me. And it has worked well now.
Cheerz,

[2017-06-06 20:05] chpo7234 commented on #22
Hey nborrmann,

is it somehow possible to get the values "access_token", "device_uid", "distinct_id", "expiration_date" and "refresh_token" from my existing mobilephone account? I want to control my mobilephone-account with ur API but "burp suite" just gives me a longer value called "iid". Most of the other values seems to be encoded... Got any tips?

[2017-06-06 20:32] nborrmann commented on #22
Please open another issue. I will delete your comment here to keep this seperate.

[2017-06-06 20:35] chpo7234 opened #30 "Connecting with existing mobilephone-account?"
Is it somehow possible to get the values "access_token", "device_uid", "distinct_id", "expiration_date" and "refresh_token" from an existing mobilephone account? I want to control my mobilephone-account with this API but "burp suite" just gives me a longer value called "iid". Other values seems to be encoded.

I will add a screenshot of these "encoded" values later on.

Any tips?

Greetings.

[2017-06-06 20:44] nborrmann commented on #30
When you're looking at any request in burp suite, there should be a header like ``Authorization: Bearer xxxxx-xxxx-xxxx-xxxx``. That value (the x's) is the ``access_token``.

You can create a new account using jodel_api and then set ``j.access_token`` to that value. Then all requests (except ``refresh_access_token`` and ``refresh_all_tokens``) should be working using your phone's account. But that

[2017-06-06 20:55] chpo7234 commented on #30
Thank you very much, nborrmann!

[2017-06-06 20:55] #30 closed

[2017-06-07 09:11] nborrmann commented on #30
I'm curious, did you try changing the date, or did you just extract the access_token?

Also, what do you mean by "iid" and the encoded values? Could you post a screenshot of those? Thanks.

[2017-06-07 09:16] chpo7234 commented on #30
I just extracted the access_token. I will add the screenshots in the evening.

[2017-06-07 10:25] gaurav-stepin commented on #26
Hi Nborrmann,
I got the same issue. I have studied documentation also. It rightly suggests refresh token. But the issue is that as token is expired I can't create object of jodel api so can't refresh tokens. Here is the code.
jodel = jodel_api.JodelAccount(params ....); // this will fail as I have expired token.
jodel.refresh_all_tokens();
Am I missing something here?
Many Thanks

[2017-06-07 10:31] nborrmann commented on #26
Add ``update_location=False`` to the constructor and it won't make any requests so it can't fail.

[2017-06-07 10:53] gaurav-stepin commented on #26
Hi Nborrmann,
That was wonderfull help.
Many thanks

[2017-06-07 21:02] chpo7234 commented on #30
Ok, i didnt find the value "iid" again.. Maybe it came from another app, sorry..
I found out that the encoded values comes from _analytics.ext.go-tellm.com_, not directly from _api.go-tellm.com_:
https://www2.pic-upload.de/img/33300378/Unbenannt.jpg

I think i can ignore the analytics-traffic.

Greetings

[2017-06-15 11:43] gaurav-stepin opened #31 "Accout verification"
Hello There,
## Issue
I cloned latest package and tested but while when I use verify account call I get following error

(500, {u'metadata': None, u'error': u'Invalid Version: 4.47'})
...
## Environment
As mentioned I cloned latest package which is 4.47. Which is mentioned in error also but not sure why it is giving this error.
[code]
Thanks

[2017-06-15 15:29] nborrmann commented on #31
The captcha verification method has been removed in version 4.48. (see also #22)

Now you can only verify an account using google cloud messaging. This should be reversable as well, but I didn't have the time to look at that yet.

[2017-06-15 15:33] nborrmann commented on #22
New stuff in version 4.48:

Captcha verification has been removed. Now it is only possible to verify an account using google cloud messaging. This should be reversible as well, but I didn't have the time to deal with that yet.

The following endpoints have changed in connection with that:

[code]

Full-text search is possible now:

[code]

[2017-06-15 19:23] donmahallem commented on #31
I currently don't see how this can be "easily" reversed as you will have to get a valid InstanceID from Googles Servers and you will need (probably) the server-secret from jodel

[2017-06-15 19:32] nborrmann commented on #31
Worst case is we need a dummy android app that runs on a phone and talks to the gcm-servers to verify the account. But I believe it should be possible to do that without an actual device.

We need the gcm ApiKey and an InstanceId (probably the deprecated push_token would still work as well). We can pull the apiKey from the apk. InstanceId, I don't know yet, I haven't looked at the gcm libs yet.

W

[2017-06-15 20:23] donmahallem commented on #31
I can give it a try but yeah, looks like it is now shuffling based on path too somehow.

[2017-06-15 20:30] nborrmann commented on #31
FYI

Here's some discussion on reverse engineering libhmac.so:
https://bitbucket.org/cfib90/ojoc/issues/14/keep-up-with-hmac-key-changes

And an archive of all apks since 4.40:
https://github.com/nborrmann/jodeldecompile/tree/master/apks

Looking at the diff of libhmac between 4.47 and 4.48 might be interesting.

[2017-06-15 21:32] donmahallem commented on #31
My assembly is quite rusty but I am doing progress.

Got it disassambled and I believe I got a/the secret atleast: swbBCdBLdtvSqgflkjyrvVwiVHMZSQDQzQWsPiMg (not tested yet)

The sign function is giving me headaches but the other atleast I know the parameters.

[2017-06-16 09:40] ioncodes commented on #31
I will reverse it as soon as I get some time for it. @donmahallem Can you tell us your steps?

[2017-06-17 13:48] nborrmann commented on #31
I just figured this out a bit. The problem isn't with the key, or the native signing function. The key from PR #33 is correct and working.

But as soon as we log into a verified account with v4.48 it becomes unverified again (and also can't be downgraded to 4.47).
So the solution is: Hopefully you have a few old verified accounts lying around, if you never use them with 4.48 they will continue to

[2017-06-17 14:44] ioncodes commented on #31
@nborrmann Thanks for the information! Can you open a new repo for the GCM reversing, so I could contribute to it?

[2017-06-17 14:51] nborrmann commented on #31
I haven't really coded anything, just looked at mitm traffic, decompiled source and documentation. But I'll open a repo and document the stuff in the readme.

[2017-06-17 15:10] nborrmann commented on #31
Here's what I have so far:

https://github.com/nborrmann/gcmreverse

Pleae feel free to send pull requests.

[2017-06-18 10:57] nborrmann commented on #31
Boom!
[code]

[2017-06-19 15:39] nborrmann commented on #31
Update: I've got everything working pretty stable. Gonna post it to a branch on this repo soon.

[2017-06-19 18:50] ioncodes commented on #31
nice!

[2017-06-20 10:23] nborrmann commented on #31
Tested, merged and published.

Kinda ironic that it's now easier than before to verify accounts ˙ ͜ʟ˙

[2017-06-20 10:23] #31 closed

[2017-06-20 10:45] donmahallem commented on #31
Nice. Well done and thank you for the work

[2017-06-22 12:47] nborrmann commented on #22
These don't work yet:

[code]

[2017-06-22 18:45] kian1991 opened #38 "New Line not showing up in Jodel app"
## Issue

Well, when I create a post using create_post(message = 'foo \n bar*) it wont post the new lines.
In the Jodel app it appears like:
foo bar
instead of:
foo
bar

Did I miss something there?

[2017-06-22 18:48] kian1991 commented on #38
oh I am a dumb, sorry...:)

[2017-06-22 18:48] #38 closed

[2017-06-24 15:20] ioncodes opened #39 "Jodel is not happy about this"
Maybe you received an email as well. The Jodel Team is not happy about me doing this, so they contacted me, and I'd like to let you know, that you should also stop your work on this, until I find a solution with them.

[2017-06-26 10:04] KLVN commented on #39
:(

[2017-07-02 22:37] MichaelHepp commented on #39
Are they threatening you with legal issues?

[2017-07-03 20:01] aschaeufler commented on #39
Can you maybe explain more in detail what they have said?

[2017-07-03 20:53] ioncodes commented on #39
They told me to close all repos regarding my JodelAPI and all it's sub projects, because they were used to spam on jodel. That's pretty much the short version.

[2017-07-03 21:32] aschaeufler commented on #39
Thank you for the fast reply. :) They should offer at least an offical read only api. :D

[2017-07-04 08:13] nborrmann commented on #39
I don't think that deleting (what does "closing" even mean?) the repos makes any sense, there's too many forks and they won't be able to remove all of them.

They told me that they're mostly fine with read-only functions, the problem is the verify() function that I built, and I kinda agree.

I guess I will move the gcmhack stuff to a different repo and remove all the Jodel specific stuff. That sho

[2017-07-04 08:51] ioncodes commented on #39
Closing a repo means removing it or setting it to private.

[2017-07-04 12:41] nborrmann commented on #39
Yeah, that won't solve anything. all the forks can still be found via google or github search.

[2017-07-04 14:23] KLVN commented on #39
They can request a [DMCA takedown notice](https://help.github.com/articles/dmca-takedown-policy/#dmca-notices-in-a-nutshell) to disable this repo and forks. But the internet never forgets and I think many of us have a local copy :P

[2017-07-11 14:25] KLVN commented on #39
Any news on this?

We programmed a bot for Jodel using your API and asked Jodel if we can keep it running, because we have no bad intentions and it helped the community (had over 1.200 members in our channel and positive feedback). They told us that they are already thinking about a public API for developers like us and as a test (I think) they created a custom account for us, that no longer needs

[2017-07-11 17:01] ioncodes commented on #39
They told me all that aswell, I've been invited to Berlin and I will meet them there. I will definitely discuss this with them. I made a few plans/concepts for the API and it's security, so I hope that we will find a great solution for this.

[2017-07-11 17:08] KLVN commented on #39
![](http://i.imgur.com/HcqORAn.gif)

[2017-07-11 19:14] ioncodes commented on #39
😂😂😂 Wasn't meant to be like a dick 😂

[2017-07-14 15:18] anaseqal commented on #39
@ioncodes can you send me your contacting info please

[2017-07-14 15:34] ioncodes commented on #39
@anaseqal If you tell me why and who you are, yes.

[2017-07-15 16:53] anaseqal commented on #39
@ioncodes sure, i am looking for Python developers who interested in reverse engineering, either remotely or local.. please let me know if you interested.

[2017-07-15 17:04] ioncodes commented on #39
@anaseqal Sounds cool, join me on Gitter and shoot me a PM: https://gitter.im/JodelAPI/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2017-07-20 19:14] Patralos opened #40 "Signing key changed?"
It seems like the signing key has been changed:

Creating new account.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/jodel_api-1.2.5-py2.7.egg/jodel_api/jodel_api.py", line 56, in __init__
    r = self.refresh_all_tokens(**kwargs)
  File "/usr/local/lib/python2.7/dist-packages/jodel_api-1.2.5-py2.7.egg/jodel_api/jodel_api.py

[2017-07-20 19:35] mullanptr commented on #40
Have the same problem.
According to the [error-codes](https://github.com/nborrmann/jodel_api#error-codes)
this will be fixed if the jodel_api is getting a new release.
So we simply might just have to wait.

[2017-07-23 09:43] espilsad commented on #40
You can do it yourself with this tool:
https://github.com/nborrmann/jodeldecompile

[2017-07-24 12:24] tom-eagle92 commented on #40
Was anybody able to get the new signing key?
I can't get the scripts from the jdoeldecompile repository working, same with the ojoc-keyhack scripts.

[2017-07-31 10:39] gaurav-stepin commented on #40
Hi mate,
I just wanted to check that if you are going to update api-key soon?
thanks

[2017-08-07 20:29] Thamos commented on #40
Here are the last few keys (there's also a pull request for the newest)

version: 4.55.1
secret: SUJlYgihNxTmcfdrEcjROozfNemiqJSjYpoJJMUC
version: 4.54.1
secret: lYgeNFRCzBYVxqVtxeaJAHHZnogGssMFgVTgxBvP
version: 4.53.1
secret: UJBCWDUHEtpdiawcSEJSpUSXtWbrXOfIWeYTRVjX

[2017-08-12 16:43] Gudui commented on #40
@Thamos

How do you extract the keys?

I've look at https://github.com/nborrmann/jodeldecompile/
But im stuck in the fourth step, where a decompiler is used, but i can't seem to find the specific decompiler.

Thanks in advance

[2017-08-12 16:52] kian1991 commented on #40
@Thamos would you please delete the keys? It's okay if only ones with the knowledge to extract it have them. The more spammer and abuser out there the more likely it won't be possible to use their API in the future! (And there are a lot of guys abusing it unfortunately)

[2017-08-12 17:04] Thamos commented on #40
@Gudui
Just google for a .so decompiler, I'm sure you can find one.

@kian1991
Since 4.56.1 is already released I won't remove them (cause they are soon invalid anyway). However I won't post the new key.

[2017-08-13 08:53] Gudui commented on #40
@Thamos
Thanks for the tip, i'll try then :-).

[2017-08-13 10:23] bebehei commented on #39
@ioncodes Any updates on here?

[2017-08-19 10:57] Daedra223 opened #43 "Jodel API seems to stop working: self.refresh_all_tokens(**kwargs)"
## Issue
Since yesterday 18.08.17 the Jodel API seems to stop working:

This are the meta data from the JodelAccount class:

[code]

I got following output when trying to create an account:

Do you have any idea what changed ?

## Environment

$ python -V
Python 3.6.2
$ python -c "import jodel_api; print(jodel_api.JodelAccount.version); print(jodel_api.JodelAccount.secret)"
4.49.0
b'GnAXvETHFDbDfh

[2017-08-19 12:04] Daedra223 opened #44 "New secret token for 4.57.1 needed"
## Issue

...

## Environment

If you're reporting a bug, please attach the output of the following commands:

[code]

[2017-08-20 16:50] Daedra223 commented on #40
@Gudui would you please post the key for 4.57.1, because the aim of github is not to hide knowledge as @kian1991 wants to do it, its about sharing knowledge ...

[2017-08-20 20:42] #44 closed

[2017-08-20 20:42] #43 closed

[2017-08-20 20:43] Daedra223 commented on #40
@Guidui and @kian1991 true please delete all keys and avoid spamming and missusing ...

[2017-08-20 21:00] Thamos commented on #40
@Daedra223 How come the sudden change of opinion?

[2017-08-20 21:28] Daedra223 commented on #40
@Thamos thinking about the aim of jodel to create an original repostfree community, that I dont want to destroy ... so thats why we should stop publicate the keyd and better communicate them within a small group of person. Nevertheless the more knowing them the faster jodel finds a way to change it ... so to keep that working just send it privatelly to certain ppl

[2017-08-20 21:31] aschaeufler commented on #40
So basicly the keys should be shared just with you?😂

Am 20.08.2017 23:28 schrieb "Daedra223" <notifications@github.com>:

[2017-08-21 08:35] Daedra223 commented on #40
@aschaeufler I didnt say that I belong to this small group of person who should get the key. To protect the community I would rather prefer to not get it than to let everyone have it ... so jodel becomes a massive reposting platform ...

[2017-10-18 16:02] baum1234 opened #45 "Key update"

[2017-10-18 16:03] kian1991 commented on #45
Yes, shoot meh in Hangouts, Kianluetke@gmail.com

[2017-10-18 16:08] baum1234 commented on #45
Just did :)

[2017-10-18 16:20] #45 closed

[2017-11-27 18:39] SydoxX opened #50 "Outdated Client Secret"
Current key dysfunctional as of today.

[2017-11-27 19:19] #50 closed

[2017-12-07 22:46] InsOpDe opened #52 "403 Forbidden"
getting this error since today 4pm CET - seems they changed their api
`  File "start.py", line 13, in <module>
    j = jodel_api.JodelAccount(lat=lat, lng=lng, city = city)
  File "C:\Python27\lib\site-packages\jodel_api\jodel_api.py", line 58, in __init__
    r = self.refresh_all_tokens(**kwargs)
  File "C:\Python27\lib\site-packages\jodel_api\jodel_api.py", line 138, in refresh_all_tokens
    ra

[2017-12-07 23:23] #52 closed

[2017-12-08 22:55] jeyemwey opened #53 "text-only comments not in the children property"
## Issue

When parsing a post with `retVal, post = j.get_post_details(post_id)`, the resulting `post[u'children']` only contain those comments that have an image attached.

For example, the famous [Frankfurt Love Story-Jodel](https://share.jodel.com/post?postId=5a04bdeeaefa5300175231c9) only has seven items in its children property dispite having hundreds of comments that are not there.

When a po

[2017-12-10 14:52] nborrmann commented on #53
Apparently the `get_post_details` endpoint has been deprecated. You need to use `get_post_details_v3()`.

[2017-12-10 14:52] #53 closed

[2017-12-11 15:29] megaguru opened #54 "Post Details - How does reply-paging work?"
As the v2 endpoint for post details finally stopped working (cf. #53 ), I need to change a couple of things.

I have tried to get all replies to a Jodel that has more than 50 answers with the ```get_post_details_v3``` method.
According to the (herein) exposed API, I am supposed to use the ```skip``` parameter for later posts - but regardless of what I am putting into there, I only get the very sam

[2017-12-11 15:34] nborrmann commented on #54
The reply of `get_post_details_v3` has a parameter `next`. This is what you have to plug into the `next` parameter. It's true that this parameter is kinda weird and switches between timestamps and post_ids (or numbers? I can't remember). But just stupidly using that value in the `next` works pretty reliably for me.

[2017-12-11 15:59] megaguru commented on #54
Ah, that answers my question. Big thanks!

[2017-12-11 15:59] #54 closed

[2017-12-28 15:05] ioncodes opened #57 "Signing key changed."
The current version is 4.75.2 and your repo is not updated. Also my extraction tools are not able to get the new key and your jodeldecompile project isn't able to find them aswell. Did they introduce a new method?

[2017-12-28 15:22] ioncodes commented on #57
Nevermind, was able to get it.

[2017-12-28 15:22] #57 closed

[2017-12-28 21:47] nborrmann commented on #57
Mind sending a pull request? Thanks!

[2018-01-02 19:02] gitarre94 opened #61 "Verification"
## Issue
i cant verify my account. I get this error code:
`Creating new account.
Traceback (most recent call last):
  File "jodelUser.py", line 16, in <module>
    j.verify(a)
  File "/usr/local/lib/python2.7/dist-packages/jodel_api-1.2.7-py2.7.egg/jodel_api/jodel_api.py", line 171, in verify
    verification = self._read_verificiation(android_account)
  File "/usr/local/lib/python2.7/dist-package

[2018-01-02 20:36] gitarre94 commented on #31
@nborrmann
Do you use mitm proxy?  When i am listening to port 443 through mitm proxy i just see http traffic. But when i go to jodelapp i cant connect and dont see the traffic.

[2018-01-02 21:07] nborrmann commented on #31
I mostly use Fiddler. But the GCM connection isn't a http request, that's just a tcp socket (an encrypted one). It won't show up in http proxies. You can try wireshark or message analyzer, but setting up ssl/tls decryption is kinda hard for these programs.

[2018-01-02 21:15] nborrmann commented on #61
Looks like Google changed something about the GCM protocol. Don't really have time to debug this now. You can try to add some print statements to see what messages we still receive.

[2018-01-03 12:46] ioncodes commented on #61
I encountered the same problem, the weird thing is that it will work at some point. It will fail many times and eventually it starts verifying all accounts perfectly. Later it will fail the whole time again and so on. From my experience it's like 15min constant fails and then 15min of success in a loop. Dunno whats going on but it works if you have patience.

[2018-01-03 16:12] gitarre94 commented on #61
oh nice :)
Yes sometimes it works and sometimes not

[2018-01-03 17:05] gitarre94 opened #62 "Rate-Limits j.get_post_details_v3() 300 per minute"
## Issue
j.get_post_details_v3()
maximum Requests are 300 per minute.
After that you get "Too Many Request" as reponse

...

## Environment

If you're reporting a bug, please attach the output of the following commands:

[code]

[2018-01-03 17:34] nborrmann commented on #62
There are lots of rate-limits that frequently change. Theres not much we can do about it.

[2018-01-03 17:34] #62 closed

[2018-01-10 17:39] gitarre94 commented on #61
is there a new key? get 401 Unauthorized

[2018-01-17 00:10] gitarre94 commented on #31
do you know how can i solve this problem? I cant see the traffic over jodel

![unbenannt](https://user-images.githubusercontent.com/25721108/35018655-f0522e0a-fb22-11e7-843e-56a71d3ea2a2.png)

[2018-01-17 12:11] ioncodes commented on #31
@gitarre94 You have to activate HTTPS decryption.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-17 16:56] gitarre94 commented on #31
yes

[2018-01-17 16:58] gitarre94 commented on #31
should i use transparent proxy?

[2018-01-17 17:42] gitarre94 commented on #31
I does not work with the most android applications...

[2018-01-17 22:15] ioncodes commented on #31
@gitarre94 What do you mean? Fiddler works generally for all applications. It wont work if they implemented some sort of certificate pinning.
However, I don't see why a transparent proxy would help. If they implemented certpinning, then you gotta remove that part from the app itself.

[2018-01-17 22:19] gitarre94 commented on #31
Ok. I think that they use certpinning. How can i remove that part from the app?

[2018-01-18 06:25] ioncodes commented on #31
@gitarre94 Reverse Engineering

[2018-01-18 06:58] gitarre94 commented on #31
Ok. Should i root my android device and  remove the cert pinning?

http://fiddler.wikidot.com/certpinning

[2018-01-18 13:53] ioncodes commented on #31
@gitarre94 You don't have to root your phone if it's Android. You have to jailbreak iOS if you want to load patched binaries without developer certificate, unless they sideload the apps, but you have to resign them every week.
Just get the apk, reverse it, patch it and install the patched version on your device. Android doesn't perform any sign checks if "allow 3rd party applications" is activated

[2018-01-18 20:27] gitarre94 commented on #31
i have tried to decode the apk with apktool
and build it again after this i resign the app.
After installing i get following screen. Do you know what to do or what i did wrong?
![image](https://user-images.githubusercontent.com/25721108/35119744-32f81ae8-fc96-11e7-8cc3-5c561a178cbb.png)

[2018-01-18 20:30] nborrmann commented on #31
The key that is used to sign every request (basically the thing we need to change with every release) depends on the app's signature. When you rebuild the app you need to sign it with your own keys and that changes the signature.

You can work around that by hardcoding the original signature into the signing-routine before rebuilding.

[2018-01-18 20:53] gitarre94 commented on #31
dont really know what you mean... I have only .smali files. This code is really new for me.  Where can i get the original signature? And how can I hardcode the original signature?

[2018-01-18 22:19] ioncodes commented on #31
@gitarre94 as @nborrmann said, you have to modify the signing routine to use the secret for your apk version. Basically, you have to extract the secret for each update and implement it in your modded function. Either use smali or patch the VM opcodes manually, it's actually not too hard for this situation, since everything is located and bootstrapped at the same location.

[2018-01-20 13:15] gitarre94 commented on #31
@ioncodes which modded function? where can i find the secret? I just want to see the traffic. I think i have too little knowledge in reverse engineering.

[2018-01-20 14:23] ioncodes commented on #31
@gitarre94 You have to mod the sign function, you have to teach yourself RE.

[2018-01-20 14:51] gitarre94 commented on #31
can i go that way?
1. Converting dex file to jar
2. get the classes
3. copy and paste it into android studio
4. debug application on device

[2018-01-20 21:15] ioncodes commented on #31
@gitarre94 No, you gotta inform yourself first.

[2018-02-06 19:39] elkbreeder opened #64 "get_posts_popular returns sometimes a empty message"
## Issue
get_posts_popular(skip=0, limit=1, after=None, mine=False, hashtag=None, channel=None) return sometimes empty 'message'

## Environment

If you're reporting a bug, please attach the output of the following commands:

[code]

[2018-02-07 16:20] Frenor commented on #27
Key updated again?

[2018-02-08 08:30] vaahtokarkki commented on #57
The key seems to be changed again and I can't get the jodelcompile working, maybe because of lack of docs. My old account got inactive and refreshing tokens won't get it back working so it could create posts.

[2018-02-08 10:18] ioncodes commented on #57
@vaahtokarkki It didn't work for me too on the last key, so I had to make my own tool. jodeldecompile probably doesn't work with the new jodel versions.

[2018-02-08 11:03] vaahtokarkki commented on #57
@ioncodes Oh okay that explains! Would you mind pushing the updated key or some information how to obtain key? I have a project using this api in Helsinki's Jodel and would be nice to keep it running, since as it gained a bit of it's own audience 😃

[2018-02-08 11:26] ioncodes commented on #57
@vaahtokarkki Sorry, but no. Sadly, it has been abused multiple times and I came to an agreement with jodel that I will not publish any tokens anymore.

[2018-02-08 11:44] vaahtokarkki commented on #57
@ioncodes Okay, I understand totally! Let's hope Jodel rolls out some day a public api for developers

[2018-02-11 14:14] nborrmann commented on #57
Just committed the new key.

[2018-02-14 08:39] vaahtokarkki commented on #61
Is the account verification still working? With the latest key I started to get `Error=PHONE_REGISTRATION_ERROR` when tried to verificate new account.

`  File "C:\...\Python\Python36-32\lib\site-packages\jodel_api\gcmhack.py", line 74, in get_push_token
    raise GcmException(r.text)
jodel_api.gcmhack.GcmException: Error=PHONE_REGISTRATION_ERROR`

[2018-02-14 21:44] DarkCatapulter commented on #61
I checked out the Gcm website and got this message: "Firebase Cloud Messaging (FCM) is the new version of GCM. It inherits the reliable and scalable GCM infrastructure, plus new features! See the FAQ to learn more. If you are integrating messaging in a new app, start with FCM. GCM users are strongly recommended to upgrade to FCM, in order to benefit from new FCM features today and in the future."

[2018-02-14 22:20] nborrmann commented on #61
Meh, I'm not sure. They said the same thing a few months back when I wrote the thing. Pretty sure they can't disable the old endpoints, because of old devices without updates.

[2018-02-14 22:46] vaahtokarkki commented on #61
Thinking the same as @nborrmann. Maybe something changed in the data to GCM? I'm not familiar at all with GCM or FCM so just guessing..

[2018-02-20 15:54] vaahtokarkki commented on #61
Now the verification with GCM is working again! Maybe it was just some issues with the GCM connection or something else sketchy  🙄

[2018-02-22 19:39] leon1995 commented on #61
Which steps do you take to add a new account? j.verify_account() or j.get_captcha() doesnt exist. I tried to take a look at the jodel_api.py and discoverd verify() verify_push() and _read_verification() but how do I exactly use them? I tried to print(j.verify) but I get no code in return. _read_verification() always wants a android_account but what is this?

[2018-02-22 19:42] nborrmann commented on #64
The Jodel API is very inconsistent and generally sucks. Not much we can do about it, except work around it. Remove the `limit=1` and do pick the first entry in code.

[2018-02-22 19:42] #64 closed

[2018-02-22 19:43] nborrmann commented on #61
rtfm 😊

[2018-02-26 22:29] Asdfgasdfg312 commented on #61
I get:
File "/usr/local/lib/python3.5/dist-packages/jodel_api-1.2.10-py3.5.egg/jodel_api/gcmhack.py", line 74, in get_push_token
raise GcmException(r.text)
jodel_api.gcmhack.GcmException: Error=PHONE_REGISTRATION_ERROR
Is there some issue with the gcm? Could I use the same data I get from my phone or is there some workaround?
Seems like vaahtokarkki got it to work, did you make some changes to the

[2018-02-28 08:43] vaahtokarkki commented on #61
@Asdfgasdfg312 For me activation still occasionally fails on PHONE_REGISTRATION_ERROR and socket closed by server. I haven't figured out any pattern why it fails so I guess its just some issues with GCM and just have to deal with it.

[2018-02-28 13:03] andrelanger opened #66 "Get Comments for post_id"
Hello everybody,

when I invoke j.get_post_details_v3(post_id, skip=0), it returns me a property "child_count" with the correct number of comments. However, the array in the property "children" is always empty.

So how do I retrieve the comment messages for a particular Jodel post_id?

André

[2018-02-28 13:04] nborrmann commented on #66
You need to use skip=None

On Feb 28, 2018 14:03, "André Langer" <notifications@github.com> wrote:

[2018-02-28 13:24] andrelanger commented on #66
Thanks for the immediate reply.

I tested it, but the returned "children" array is still empty for j.get_post_details_v3(post_id, skip=None).
Does it work correctly for you?

[2018-02-28 16:58] Asdfgasdfg312 commented on #61
Hmm ok, are you running python 2.7 or 3? Would it make any difference? I get PHONE_REGISTRATION_ERROR 100% of the time

[2018-03-01 19:15] Asdfgasdfg312 opened #67 "Only get PHONE_REGISTRATION_ERROR, anybody knows whats up?"
I only get PHONE_REGISTRATION_ERROR when i try to verify an account, no matter what I try, I've tried with proxy, I tried with python 2.7 and 3. Reinstalled the jodel api, currently using version jodel api version 1.2.10. But always the same error.

The biggest suspicion i have is that jodel_api seems to be targeting version 4.77.4 while jodel has released 4.78.1, but other people seems to get it

[2018-03-02 12:58] nborrmann commented on #67
Duplicate of #61

[2018-03-02 12:58] #67 closed

[2018-03-10 10:40] petrekova commented on #66
If you're looking for the comments, you will find them in the `replies` node. The children node always is empty, even when you're look up posts. Maybe it's a placeholder for future features.

So to retrieve an array of all comments of a post, your code could something like this:
[code]

[2018-03-10 14:51] andrelanger commented on #66
Thanks  for your comment, petrekova.

I only evaluated x[1]["details"] and was not aware of the other key "replies" so far.
That helped me a lot.

[2018-03-10 14:51] #66 closed

[2018-03-12 09:07] petrekova commented on #66
Glad I could help @andrelanger

[2018-03-12 09:58] andrelanger commented on #40
it seems like the api key has changed again...

jodel-api v1.2.10

Creating new account.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/jodel_api/jodel_api.py", line 56,    in __init__
    r = self.refresh_all_tokens(**kwargs)
  File "/usr/local/lib/python2.7/dist-packages/jodel_api/jodel_api.py", line 136   , in refresh_all_

[2018-03-13 15:17] petrekova commented on #40
@andrelanger take a look at [this Repo](https://bitbucket.org/cfib90/ojoc-keyhack/src/1c5ba2699279e84bac7d30157120844d7edcc9ef/x86/?at=public) to generate your own key.

Note that the scripts are somewhat broken. E.g. `download_apk.sh` doesn't work anymore(because the apk provider probably changed the way it provides the apk). So you'll have to either fix the script(see [this file](https://github.

[2018-03-13 15:22] nborrmann commented on #40
@petrekova Yeah, that's a bit broken. But it does publish the newest version on PyPI, the issue is that it fails if the current version already exists on PyPI. Previously it just failed silently, now it crashes the build. I was too lazy to fix it tbh.

[2018-03-21 22:05] petrekova opened #69 "Add 503 and 504 errorcodes to list"
Sometimes (especially in the night), the Jodel API decides to throw either **504**'s (e.g. when creating/refreshing an account) or **503**'s (when looking up comments).

These codes should be added to the error code list.

Maybe it should also be indicated, that creating new accounts should be also catched for exceptions (especially **504**'s).

[2018-03-26 13:37] cpyix commented on #39
What is the offical statement from the jodel hq? Is there a way of developing "good" bots (like a daily weather bot or some cool things) for jodel which are using the api with the agreement of jodel?

[2018-03-26 13:42] ioncodes commented on #39
@cpyix We are allowed to use read endpoints. We need to wait for them to create a public API.

[2018-04-06 08:40] nknappe commented on #40
Signing key changed again with v4.80.5

[2018-04-07 19:31] cartman4 commented on #40
Version 4.80.5 seems to be: KmzWCGdpAnxWWTyiTzVCBhXCfSxCgEAAmzvsOGjI

[2018-04-09 22:41] m7ariri commented on #40
4.80.5 signing key?

[2018-04-09 22:48] m7ariri commented on #39
so I'm not sure does this mean this api will not be updated with the new signing key? and we have to wait until the release of an official api?

[2018-04-11 08:23] nborrmann commented on #61
Looks like we're good for another year.

[2018-04-12 06:36] nknappe commented on #40
@m7ariri
4.80.5 is outdated

[2018-04-16 19:57] deucalion commented on #40
This bug looks like a prime candidate for "wontfix"... 😏😉

[2018-04-24 22:01] guitar9 commented on #40
when does the new version comes out? get errot 477

[2018-04-25 19:26] aurelebonvin opened #71 "Got error 477"
## Issue

I tested to write the code of example with my data, and as soon as I start the script, I get the error 477. Here is the traceback:
[code]

And here is my code
[code]

## Environment

If you're reporting a bug, please attach the output of the following commands:

[code]

[2018-04-26 18:48] guitar9 opened #72 "What means after and mine?"
How can i delate this issue? The description of mine and after is later i had not read it. Sorry

[2018-04-28 09:59] Daedra223 commented on #61
Since 2 days the verification is needed to get any jodel. I tried to verify it using the code:
`lat, lng, city = 48.148434, 11.567867, "Munich"
j = jodel_api.JodelAccount(lat=lat, lng=lng, city=city)
a = jodel_api.AndroidAccount()
j.verify(a)
print j.get_account_data()`

But the responses are still empty, do you got a way to verify it correctly?

[2018-04-28 10:06] Daedra223 opened #73 "Empty responses"
## Issue
Since 3 days all get-responses of jodel are empty, no error code just empty results ...
@wetterfroschdus mentioned it is caused by needed verification process.

Kind regards
...

[2018-04-28 10:08] guitar9 commented on #73
just change channel from none to main then it works.

[2018-04-28 10:14] Daedra223 commented on #73
@guitar9 thank you very much, it worked!

Kind regards :)

[2018-05-01 01:51] wetterfroschdus commented on #73
Yeah, so it's kinda weird.
If your account is unverified, you will get an empty response when calling .get_recent_posts() or similar.
With a verified account everything works as normal and you get the posts.
But if you specify the channel as "main" for an unverified account, you also get the posts.

[2018-05-03 15:17] adgehrke commented on #71
I always get the same error since a few weeks

[2018-05-12 16:26] xH2Osecond commented on #40
I found this key from the apk manually `swbBCdBLdtvSqgflkjyrXXXXXXXXXXXXXXXXXXXX` but it doesn't work. Can someone confirm that is the key or this API not working (447 error)?

[2018-05-14 19:51] guitar9 opened #75 "mitm Jodel"
A few months ago i tried mitm Jodel. Now i give it a second try. I have ssl unpinned the app with the xposed Framework and installed a custom certification .
Now i get the error Failed to find a trusted cert that signed Certic. Somebody have an idea how to solve this problem?

[2018-05-14 20:32] guitar9 commented on #75
tryed it also with smali files. But i get 104 results if I search in the smali files for CertificatePinner...

[2018-05-15 11:29] KoenBremer opened #76 "signing key"
## Issue
The signing key is not correct, while being on the latest version of the api..
...

## Environment

If you're reporting a bug, please attach the output of the following commands:

[code]

[2018-05-16 15:38] workedbeforepush opened #77 "-"
-

[2018-05-17 17:38] #77 closed, assigned to nobody

[2018-07-04 07:50] leon1995 commented on #76
I get the same issue:
[code]

**Environment**
[code]
[code]
[code]
[code]

[2018-07-10 19:41] jacopo-j opened #79 "Host is down"
Since several days, `jodel_api` (current version) cannot connect to Jodel's servers at all. This is *not* a signing issue, and not even an authorization problem. Trying on different machines, with different IP addresses and from different locations always leads to the same result:

[code]

Has anybody experinced the same (weird) problem?

[2018-07-13 20:30] jacopo-j commented on #79
Problem was related to my setup.

[2018-07-13 20:30] #79 closed, assigned to nobody

[2018-07-20 19:17] UMTti commented on #40
@nborrmann @ioncodes Do you know is there now any working way to retrieve signing key? Or can you update this pip package to work?

[2018-07-20 20:23] ioncodes commented on #40
@UMTti I have the keys but I'm not allowed to share them anymore :/

[2018-07-24 16:03] deucalion commented on #40
What's so hard to understand?

The entire point is to make it not too easy for amateurs to use this so Jodel won't get flooded with spam and Jodel HQ won't implement further measures to bar others from using their platform.

One user in this thread already has been kind enough to share a tool to allow extraction of a new key; if you are unable to use it, either improve your skill level or leave th

[2018-07-24 17:14] ioncodes commented on #40
Tbh, the tool didn't work anymore at some point. I had to make my own, are you sure it actually works for you?

[2018-07-24 18:04] deucalion commented on #40
Only with a few adaptations, admittedly. But if you're familiar enough with the tooling, I wouldn't consider that a real issue.

[2018-07-24 18:06] ioncodes commented on #40
Well I'm not really familiar with it since I have my own tool xD I don't like relying on other people too much

[2018-09-09 17:01] Patralos opened #80 "New API calls for popular today / week"
Has anyone already reversed / sniffed the new api calls for popular jodels of today / week?

[2018-09-17 12:23] KLVN commented on #80
I tried sniffing, but the app doesn't allow user certificates and therefore is unable to connect to their servers. I also followed [this tutorial](https://nestedif.com/android-security/3-sniffing-https-api-traffic-nougat-7-0-newer-os-bypassing-default-os-tls-security/) to bypass this protection, but after installing and opening the app for the first time, it's still unable to connect (this time wi

[2018-11-03 16:49] guitar9 opened #81 "does not work anymore"
Have the correct key but get error 477 Signed Request expected.

[2018-11-07 10:19] ioncodes commented on #81
I'm still using this library for a few things but with my own keys, it should work.

[2018-11-07 10:22] ioncodes commented on #80
@KLVN I recommend hooking the pinning methods without patching the app itself, you can use any remote instrumentation framework for that.

[2018-11-07 15:41] guitar9 commented on #81
still with version 5.10.3? I cant create a new Account. I have the correct key. Get error 477.
Can you check, you have the same as me? I blacked out a piece in the middle because it is not wanted to publish the secret key.

![bildschirmfoto_2018-11-07_16-38-35](https://user-images.githubusercontent.com/25721108/48141856-015e2700-e2ac-11e8-970e-ed54502f9355.png)

[2018-11-14 14:22] guitar9 commented on #81
has somebody a fix?

[2018-11-14 14:57] guitar9 commented on #81
this is the key i tried: MNoRTIEDWBhrikFNEkwSpKhizdGFwBjCjBtEhErP
version: 5.7.2

[2018-11-14 15:25] jacopo-j commented on #81
I can confirm everything works fine with the correct keys (issue should be closed). @guitar9 you must use keys from the latest version available.

[2018-11-14 17:06] guitar9 commented on #81
ok thank you. Jodel 5.7.2 is the latest version.... @jacopo-j can you check, if you have the same key?
I used it for a few months but now it does not work anymore. Does not know what i am doing wrong

[2018-11-14 17:37] ioncodes commented on #81
@guitar9 The latest version is 5.11.1 ...

[2018-11-14 18:25] guitar9 commented on #81
ok had a problem with my python files. Now it works...

[2018-11-14 18:25] #81 closed, assigned to nobody

[2018-11-14 19:17] guitar9 commented on #80
somebody has success in unpinning the app? Tried SLL Unpinning from Xposed and SLL Unpinning with Frida (https://codeshare.frida.re/@pcipolloni/universal-android-ssl-pinning-bypass-with-frida/). Both doesnt seems to work.
Next step is to look at the code with jadx and try to hook the pinning method....

[2018-11-15 23:14] ioncodes commented on #80
@guitar9 My first success was using Frida.

[2018-11-16 09:11] guitar9 commented on #80
@ioncodes Did you write your own script? Or did you used this: (https://codeshare.frida.re/@pcipolloni/universal-android-ssl-pinning-bypass-with-frida/)

[2018-11-16 09:15] ioncodes commented on #80
@guitar9 I wrote my own script.

[2018-11-16 09:44] guitar9 commented on #80
@ioncodes  ok :( can you publish it? :)

[2018-11-16 09:50] ioncodes commented on #80
@guitar9 No I can't, sorry :/

[2018-11-16 10:03] guitar9 commented on #80
@ioncodes ok :) Can you give a hint at which classes to look?

[2018-11-22 18:25] Taegos opened #82 "Can't create an account"
Just cloned this and tried to create an account:

[code]

But got:
[code]

According to the readme i should

I just cloned the repo so i should have the latest version, right?

Anyone seeing similar problems?

[2018-11-22 18:36] jacopo-j commented on #82
This repo won't likely be updated with the latest signing key anymore, see #39 and #40. Besides, this is just another duplicate of #71 and #76.

[2018-11-22 18:42] Taegos commented on #82
Yeah saw that now, should probably be in the readme

[2018-11-25 23:30] Benjamin-3281 commented on #82
Can anybody hint in which direction to work towards to get the signing key? :)
I have a jodel-related uni project and would spend weeks of manual labour if I can't get it to work again, so im ready to try out some trickier options

[2018-12-08 22:08] guitar9 opened #83 "Unpinning Jodel App"
Somebody has successful unpinned the jodel app?
If yes, how you did it?

[2018-12-18 20:34] guitar9 opened #84 "Version 5.15.2 does not work anymore"
I updated the key but i get still error 477.

[code]

Does it work for you?

[2018-12-18 20:36] #72 closed, assigned to nobody

[2018-12-19 08:39] statist32 commented on #84
I have the same problem with this key

[2019-01-04 11:52] Daedra22 commented on #84
Same for me, even with the correct key for 5.16.1 it generates a request error, did they added something to the verification process? @nborrmann

[2019-02-04 17:51] themultiplexer commented on #84
Yes they must have changed something :/ I hope sombody has a clue, because I have no experience how the api currently works. Sadly I have no time for debugging (or how to mitm jodel).

Sadly Christian Fibich has no time for implementing the latest authentication version ([issue](https://bitbucket.org/cfib90/ojoc/issues/39/registration-fails))

@nborrmann Do you have an idea how the latest signing

[2019-03-23 07:43] Daedra223 commented on #84
So whats the problem now @nborrmann are you too lazy? Do you have not enough time to fix the new version? Is it not possible?
Do you want money as a motivation then post a paypal link.

But dont ignore the questions explain the problem and whether its not possible to be solved, but do not do nothing ffs...

[2019-03-28 11:02] SimonKrill commented on #84
Is there any way to get the API working?
I am failing by creating a new account. Is this depending on the signing key?

[2019-05-20 11:39] gaardhus opened #85 "Is there any plan to update the keys?"
I'm getting errors on the keys, and I don't know how to find the updated signing versions. Is there a plan to update the files, or can anybody point me in the direction on how to update them manually?

When I'm running
`j = jodel_api.JodelAccount(lat=lat, lng=lng, city=city)`

I get the following output:
[code]

[2019-05-20 12:27] datagutten commented on #85
I was able to extract a key, but the API would not accept it.

[2019-05-27 19:32] guitar9 commented on #85
I think this project is outdated :D Somebody has another solution to get Jodel Posts programmatically?

[2019-05-27 20:15] gaardhus commented on #85
@guitar9 yeah you are probably right. If you stumble upon a useful method please update me :).

[2019-06-03 20:18] marbink commented on #85
if you are able to get the key from ios & update version, my fork would work ;)

[2021-06-14 19:55] Cylop opened #86 "FirebaseUID is not valid"
## Issue
I build a basic application that just creates an account and reads some popular jodels but I am facing the issue that the response for "GET" actions exits with the following exception:

`Exception: (401, {'error': 'Firebase UID not valid', 'metadata': None})`

You can easily reproduce the error with the following code:

[code]
...

## Environment
I set up the environment a couple of secon

[2021-06-15 08:31] SydoxX commented on #86
I think this project is no longer actively maintained, thus the Firebase was probably removed. There have been some backend changes to the jodel API as well.

[2021-06-15 12:06] Cylop commented on #86
Thank you, I'll investigate a bit and see what I can find

[2021-09-15 16:59] pagpeter opened #87 "API base URL has changed"
It seems like the base url of the API has changed to `https://api.jodelapis.com/api/<version/...`

[2021-09-15 17:31] pagpeter commented on #87
I also extracted all API endpoints from the .smali file: https://gist.github.com/wwhtrbbtt/a45782045aa5bbd17016fd742fafb7ea

[2021-10-03 15:15] asd34234Y commented on #87
They will change this all the time, waste your time on something else

[2021-12-03 15:44] springjools commented on #22
def send_home_town(self, location, **kwargs):
return self._send_request("PUT", "/v3/user/home", payload={"location": self._get_location_dict(self.lat, self.lng, self.city)}, **kwargs)
...
This end point could be useful. It seems that jodel is actively reverting votes, maybe they use location from IP-address to detect votes they don't want to keep. Setting a hometown could be a possible resolution.

[2022-09-14 08:52] #86 closed, assigned to nobody